h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

.home__header {
  background-image: url("/src/assets/background/5.png");
  height: 700px;
  background-size: cover;
  background-position: center;
  color: var(--background);
}

.home__header > div > h1 h2 {
  text-align: center;
  margin-top: 10px;
}

.home__backdrop {
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.84), transparent);
}

.home__backdrop > div {
  padding: 100px 50% 0 40px;
}
