/* UserMenu.css */
.navbar-user-icon {
  position: relative;
}

.navbar-user-icon img {
  cursor: pointer;
}

.navbar-user-dropdown {
  position: absolute;
  top: 60px;
  right: 35px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  font-size: larger;
}

.navbar-user-dropdown ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-user-dropdown li {
  padding: 8px 16px;
  border: none;
}

.navbar-user-dropdown li:hover {
  background-color: #f1f1f1;
}

.navbar-user-dropdown li.divider-menu {
  border-top: 1px solid #ccc;
  padding: 0;
}
