:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(7, 34, 49);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background: #fefefe;
  background-color: var(--background);
}

#root {
  padding-bottom: 120px;
  height: 100%;
  min-height: 100vh;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

body {
  background: url(https://grainy-gradients.vercel.app/noise.svg);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
 background-color: rgb(20, 20, 20);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.header_inset {
  box-shadow: inset 10px -10px 10px 0 rgba(0, 0, 0, 0.5);
}

input, textarea {
  background-color: rgb(59, 59, 59);
  color: white;
  resize: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invert {
  filter: invert(1);
}

.small {
  width: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.medium {
  width: 60px;
}

.h-full {
  height: 100%;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.loader {
    border: 5px solid #f3f3f3;    
    border-top: 5px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-right: 20px;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#dado {
  height: 55px;
}

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.dialog {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 100vw;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.dialog h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 400;
    color: black;
}

.dialog form {
    display: flex;
    flex-direction: column;
}

.dialog label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.dialog label input {
    font-size: large;
    padding: 5px;
    margin-top: 5px;
}

.dialog textarea {
    font-size: large;
    padding: 5px;
    margin-top: 5px;
}

.error {
    color: red;
    /* font-size: small; */
}

select {
  margin-top: 5px;
  padding: 5px;
  font-size: large;
}

.relative {
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-border {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.ml-10 {
  margin-left: 10px;
}

.bold {
  font-weight: bold;
}

pre {
  background-color: #dddddd;
  padding: 10px;
  border-radius: 5px;
  border: #8b8b8b 1px solid;
  /* margin: 10px 0; */
}

.grow {
  flex-grow: 1;
}

.gap-10 {
  gap: 10px;
}

.w-full {
  width: 100%;
}